.container {
  background-color: var(--white);
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.0625rem 0 rgba(72, 122, 157, 0.42);
  margin-bottom: 16px;
  padding: 1rem;
  width: 66.875rem;
}
.header {
  align-items: center;
  display: flex;
  padding: 0.9375rem 0 0.9375rem 1rem;
  border-bottom: solid 1px #c8d0e0;
}
.header-title {
  width: 42.2rem;
}
.objective-column {
  width: 42.625rem;
}
.progressbar-container {
  align-items: center;
  display: flex;
}
.progressbar-content {
  background-color:#dee3ed;
  border-radius: 0.3125rem;
  height: 0.375rem;
  margin-right: 0.5rem;
  overflow: hidden;
  width: 17.5rem;
}
.progressbar-success {
  background-color: var(--color-primary);
  height: 0.375rem;
  transition: width 0.25s;
  width: 6rem;
}
.table {
  border-collapse: collapse;
  width: 64.875rem;
}
.tbody > tr > td, .head-row > th {
  padding: 0.9375rem 0.5rem 0.9375rem 1rem;
  text-align: left;
}
.tbody > tr:nth-child(odd) {
  background-color: var(--color-drawer);
}