@import '../../../styles/variables';

.label {

  p,
  .optional {
    margin: 0;
    margin-bottom: $standardMargin;
  }

  p {
    font-size: 1rem;
  }

  .optional {
    font-size: 0.875rem;
    color: $borderColor;
  }

}

.dropzone {
  cursor: pointer;
  height: 12.5rem;
  border-radius: .125rem;
  border: dashed .0625rem #707a89;
  background-color: #ebeff5;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &.disabled {
    cursor: not-allowed;
    background-color: #dee3ed !important;
  }

  .content-wrapper {
    align-self: center;

    .primary-text {
      font-family: Ubuntu;
      font-size: 1rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #707a89;
    }

    .secondary-text {
      font-family: Ubuntu;
      font-size: .75rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #707a89;
    }

    .icon {
      text-align: center;
    }
  }

  .disabled-text {
    color: #ffffff !important;
  }
}

.file-input {
  display: none;
}

.image-container {
  position: relative;
  height: 12.5rem;

  img {
    height: 100%;
    width: 100%;
  }

  .topright {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 1.125rem;
  }

  .progress-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .progress-wrapper {
    border-radius: 50%;
    padding: .25rem .25rem .08rem .25rem;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .progress {
    z-index: 1;
    color: #ffffff;
  }
}