.cdx-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1.5rem;

  td,
  th {
    padding: 0 0.5rem;
    text-align: center;
    height: 3.125rem;
    white-space: 'nowrap';
    text-overflow: 'ellipsis';
    overflow: 'hidden';
    font-size: 0.875rem;

    &:first-child {
      padding-left: 1rem;
    }

    &:last-child {
      padding-right: 1rem;
    }
  }

  thead tr {
    background-color: white;
    border-bottom: 0.0625rem solid #888888;
    font-weight: bold;
  }


  tbody tr:nth-child(odd) {
    background-color: var(--color-drawer);
  }
}